/*
 Common styles for screen, print and handheld media
*/
html, body, div, span, applet, object, iframe, 
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
fieldset, form, label, legend,
caption { border: 0; margin: 0; }
:focus { outline: 0; }
.nusbody { background: #fff; color: #5B5B5B; font-family: Arial, Helvetica, sans-serif; line-height: 1.5; z-index:0; }
a { color: #547DC9; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
dl { margin: 0 0 1em 0; }
dt { font-weight: bold; }
dd { margin-bottom: 1em; }
input, select, textarea { font-family: Arial, Helvetica, sans-serif; font-size: 1em; }
.clear { clear: both; }
.nusbody p, .nusbody dl, .nusbody dt, .nusbody dd, .nusbody ol, .nusbody ul, .nusbody li { margin: 0 0 1em 0; }

